<section id="home" class="bg home relative">
    <div class="container lg:mt-10">
      <div class="flex flex-col items-center justify-center w-full h-[500px]">

        <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
            <canvas data-particle-animation></canvas>
        </div>

        <div class="relative z-50 text-center">
          <h1 class="text-white lg:text-[45px] text-[20px] font-bold uppercase">
            {{ text }}

          </h1>
          <p class="text-white py-[14px] text-center mb-10">
          
          </p>

          <a href="https://api.whatsapp.com/send?phone=77017896556"
            class="btn bg-primary text-white px-8 py-4 hover:bg-red-600 rounded-full font-bold">написать специалисту</a>
        </div>

      </div>
    </div>
  </section>